@CHARSET "ISO-8859-1";

.leaveregistration { width: 990px; }

#leaveregistration-overview #edit-year { display: inline-block; width: 990px; vertical-align: top; }
#leaveregistration-request #edit-year, 
#leaveregistration-edit #edit-year { width: 990px; }

<<<<<<< HEAD
#edit-dephead_col_links {display: inline-block; width: 990px;}
#edit-dephead_col_links .item-list ul,
#edit-dephead_col_links .item-list ul li { list-style-type: none; margin: 6px; padding: 0; display: inline-block; }

#edit-admin_col_links {display: inline-block; width: 990px;}
#edit-admin_col_links .item-list ul,
#edit-admin_col_links .item-list ul li { list-style-type: none; margin: 6px; padding: 0; display: inline-block; }
=======
#edit-department_head_collids {display: inline-block; width: 990px;}
#edit-department_head_collids .item-list ul,
#edit-department_head_collids .item-list ul li { list-style-type: none; margin: 6px; padding: 0; display: inline-block; }

#edit-administration_collids {display: inline-block; width: 990px;}
#edit-administration_collids .item-list ul,
#edit-administration_collids .item-list ul li { list-style-type: none; margin: 6px; padding: 0; display: inline-block; }
>>>>>>> 9f70b0cac9d9738add67f9684e3201e7e65f5e92

#edit-request_colleague_didh .item-list ul,
#edit-request_colleague_didh .item-list ul li { list-style-type: none; margin: 2px; padding: 0; display: inline-block; }

#edit-request_colleague_didh .request { color: #8e73c7; }
#edit-request_colleague_didh .rejected { color: #ff0015; }
#edit-request_colleague_didh .in_treatment { color: #ff6c00; }
#edit-request_colleague_didh .approved { color: #0e6802; }

#edit-request_colleague_didh .request td.reason {background: url('../img/reason.png') no-repeat center center;}
#edit-request_colleague_didh .mouseout {
    position: absolute; right: -10px; padding: 5px;
    width: 240px; height: 100px;
    border: 1px solid #000000;
    background-color: #FFFFFF;
}

#edit-request .item-list ul,
#edit-request .item-list ul li { list-style-type: none; margin: 2px; padding: 0; display: inline-block; }

#edit-request .request { color: #8e73c7; }
#edit-request .rejected { color: #ff0015; }
#edit-request .in_treatment { color: #ff6c00; }
#edit-request .approved { color: #0e6802; }

#edit-request .request td.reason {background: url('../img/reason.png') no-repeat center center;}
#edit-request .mouseout {
    position: absolute; right: -10px; padding: 5px;
    width: 240px; height: 100px;
    border: 1px solid #000000;
    background-color: #FFFFFF;
}

#edit-legend { display: inline-block; width: 544px; }

#edit-legend .legend_leave_type { width: 170px; float: left; }
#edit-legend .legend_leave_type ul,
#edit-legend .legend_leave_type ul li { list-style-type: none; margin: 2px; padding: 0; }
#edit-legend .legend_leave_type ul li span { display: block; width: 15px; height: 15px; float: left; }
#edit-legend .legend_leave_type ul li label { font-weight: normal;}

#edit-legend .legend_leave_type ul li.day span { margin: 5px 4px 0 0; background-color: #d7dadb; }
#edit-legend .legend_leave_type ul li.ajustments span { margin: 5px 4px 0 0; background-color: #358577; }
#edit-legend .legend_leave_type ul li.weekend span { margin: 5px 4px 0 0; background-color: #999999; }
#edit-legend .legend_leave_type ul li.holiday span { margin: 5px 4px 0 0; background-color: #666666; }
#edit-legend .legend_leave_type ul li.colleagues span { margin: 5px 4px 0 0; background-color: #a04d56; }
#edit-legend .legend_leave_type ul li.request span { margin: 5px 4px 0 0; background-color: #8e73c7; }
#edit-legend .legend_leave_type ul li.today span { margin: 5px 4px 0 0; background-color: #41487b; }

#edit-legend .legend_leave_type ul li.normal_leave span,
#edit-legend .legend_leave_type ul li.normal_leave_less_one_day span,
#edit-legend .legend_leave_type ul li.atv span { margin: 5px 4px 0 0; background-color: #068530; }
#edit-legend .legend_leave_type ul li.time_for_time span { margin: 5px 4px 0 0; background-color: #c8bc3c; }

#edit-legend .legend_leave_type ul li.maternity span,
#edit-legend .legend_leave_type ul li.doctor_visit span,
#edit-legend .legend_leave_type ul li.special_leave span,
#edit-legend .legend_leave_type ul li.study_leave span,
#edit-legend .legend_leave_type ul li.care span,
#edit-legend .legend_leave_type ul li.mom_dad_day span,
#edit-legend .legend_leave_type ul li.mom_dad_day_contiguous span { margin: 5px 4px 0 0; background-color: #62b27d; }
#edit-legend .legend_leave_type ul li.sick span,
#edit-legend .legend_leave_type ul li.sick_less_one_day span { margin: 5px 4px 0 0; background-color: #cc3333; }

#edit-credit_year { display: inline-block; width: 430px; vertical-align: top;}
#edit-credit { display: inline-block; vertical-align: top; width: 325px; }

/* months */
#edit-months { display: inline-block; width: 100px; vertical-align: top; }
#edit-show_colleagues { display: inline-block; width: 870px; }

/* calendar year */
#edit-calendar_year { position: relative;}
<<<<<<< HEAD
#edit-calendar_year a {color: #FFFFFF; text-decoration: none;}
=======
#edit-calendar_year a {color: #FFFFFF; text-decoration: underline;}
>>>>>>> 9f70b0cac9d9738add67f9684e3201e7e65f5e92
#edit-calendar_year th { font-size: 8px; }

#edit-calendar_year td { font-size: 11px; background-color: #d7dadb; }

#edit-calendar_year td.request { background-color: #8e73c7; color: #FFFFFF; }
#edit-calendar_year td.adjustments { background-color: #358577; color: #FFFFFF; }

#edit-calendar_year td.normal_leave,
#edit-calendar_year td.normal_leave_less_one_day,
#edit-calendar_year td.atv { background-color: #068530; color: #FFFFFF; }

#edit-calendar_year td.maternity,
#edit-calendar_year td.doctor_visit,
#edit-calendar_year td.special_leave,
#edit-calendar_year td.study_leave,
#edit-calendar_year td.care,
#edit-calendar_year td.mom_dad_day,
#edit-calendar_year td.mom_dad_day_contiguous { background-color: #62b27d; color: #FFFFFF; }
#edit-calendar_year td.sick,
#edit-calendar_year td.sick_less_one_day { background-color: #cc3333; color: #FFFFFF; }

#edit-calendar_year td.is_weekend { background-color: #999999; color: #FFFFFF; }
#edit-calendar_year td.is_holiday { background-color: #666666; color: #FFFFFF; }
#edit-calendar_year td.today { background-color: #41487b; color: #FFFFFF; }

#edit-calendar_year td.time_for_time { background-color: #c8bc3c; color: #FFFFFF; }

#edit-calendar_year.colleagues td.colleagues { background-color: #a04d56; color: #FFFFFF; }
#edit-calendar_year.colleagues td.is_weekend { background-color: #999999; color: #FFFFFF; }
#edit-calendar_year.colleagues td.is_holiday { background-color: #666666; color: #FFFFFF; }
#edit-calendar_year.colleagues td.today { background-color: #41487b; color: #FFFFFF; }

#edit-calendar_year.colleagues td.time_for_time { background-color: #c8bc3c; color: #FFFFFF; }

#edit-calendar_year .mouseover {
    position: absolute; top: 0; left: 0; padding: 5px;
    border: 1px solid #000000;
    background-color: #FFFFFF;
}

<<<<<<< HEAD
/* months */
#edit-dephead_months { display: inline-block; width: 100px; vertical-align: top; }
#edit-dephead_show_colleagues { display: inline-block; width: 870px; }

/* calendar year */
#edit-dephead_calendar_year { position: relative;}
#edit-dephead_calendar_year a {color: #FFFFFF; text-decoration: none;}
#edit-dephead_calendar_year th { font-size: 8px; }

#edit-dephead_calendar_year td { font-size: 11px; background-color: #d7dadb; }

#edit-dephead_calendar_year td.request { background-color: #8e73c7; color: #FFFFFF; }
#edit-dephead_calendar_year td.adjustments { background-color: #358577; color: #FFFFFF; }

#edit-dephead_calendar_year td.normal_leave,
#edit-dephead_calendar_year td.normal_leave_less_one_day,
#edit-dephead_calendar_year td.atv { background-color: #068530; color: #FFFFFF; }

#edit-dephead_calendar_year td.maternity,
#edit-dephead_calendar_year td.doctor_visit,
#edit-dephead_calendar_year td.special_leave,
#edit-dephead_calendar_year td.study_leave,
#edit-dephead_calendar_year td.care,
#edit-dephead_calendar_year td.mom_dad_day,
#edit-dephead_calendar_year td.mom_dad_day_contiguous { background-color: #62b27d; color: #FFFFFF; }
#edit-dephead_calendar_year td.sick,
#edit-dephead_calendar_year td.sick_less_one_day { background-color: #cc3333; color: #FFFFFF; }

#edit-dephead_calendar_year td.is_weekend { background-color: #999999; color: #FFFFFF; }
#edit-dephead_calendar_year td.is_holiday { background-color: #666666; color: #FFFFFF; }
#edit-dephead_calendar_year td.today { background-color: #41487b; color: #FFFFFF; }

#edit-dephead_calendar_year td.time_for_time { background-color: #c8bc3c; color: #FFFFFF; }

#edit-dephead_calendar_year.colleagues td.colleagues { background-color: #a04d56; color: #FFFFFF; }
#edit-dephead_calendar_year.colleagues td.is_weekend { background-color: #999999; color: #FFFFFF; }
#edit-dephead_calendar_year.colleagues td.is_holiday { background-color: #666666; color: #FFFFFF; }
#edit-dephead_calendar_year.colleagues td.today { background-color: #41487b; color: #FFFFFF; }

#edit-dephead_calendar_year.colleagues td.time_for_time { background-color: #c8bc3c; color: #FFFFFF; }

#edit-dephead_calendar_year .mouseover {
    position: absolute; top: 0; left: 0; padding: 5px;
    border: 1px solid #000000;
    background-color: #FFFFFF;
}

/* CIVICRM */
#Activiteiten #edit-year { width: 100%; }
#Activiteiten #edit-legend { width: 60%; top: -5px; }
#Activiteiten #edit-legend .legend { width: 125px; }
=======
/* CIVICRM */
#Activiteiten #edit-year { width: 100%; }
#Activiteiten #edit-legend { width: 60%; top: -5px; }
#Activiteiten #edit-legend .legend_leave_type { width: 125px; }
>>>>>>> 9f70b0cac9d9738add67f9684e3201e7e65f5e92
#Activiteiten #edit-credit { width: 39%; }
#Activiteiten #edit-credit_year { width: 39%; }
#Activiteiten #edit-show_colleagues { width: 100%; }